.caret-spacer {
  width: 14px;
  color: var(--gray-five);
}

.item-row {
  align-items: baseline;
  background-color: var(--dark-three);
  color: var(--gray-two);
  display: flex;
  font-size: 14px;
  font-weight: 400px;
  gap: 11px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 11px 12px 20px;
}

.color-swatch {
  height: 16px;
  width: 12px;
  margin-right: 5px;
}

/* adds spacing specific to child rows */
.color-swatch.child {
  margin-right: 27px;
}

/* the following rules and selectors override the antd default to have
blue backgrounds, borders, and elements
*/
.item-row .ant-checkbox-inner {
  border-radius: 0px;
  border: 1px solid var(--gray-five);
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: var(--white-one);
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-radius: 0px;
  border: none;
}

.item-row .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: var(--dark-one);
}

.item-row .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--white-one);
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--dark-one);
  height: 2px;
}
