.cc-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
    bottom: 40px;
    gap: 3px;
}

.cc-container .btn {
    border: none;
    color: var(--white-one);
    background-color: var(--black-one);
}

.cc-container .btn:hover {
    border: none;
    color: var(--white-one);
    background-color: var(--gray-one);
}