.checkbox-container {
    background-color: var(--dark);
}

.sub-menu {
    flex-flow: row;
}

.sub-menu .ant-col-offset-3 {
    margin-left: 13.4%;
}

.header-label {
    margin-left: 8px;
    max-width: 120px;
}

.checkbox-set {
    width: 53px;
}

.checkbox-set .ant-checkbox {
    top: 12px;
}

.checkbox-container .checkbox-labels {
    display: flex;
    flex-direction: column;
}

.row-label-container {
    display: inline-block;
    height: 40px;
    padding: 2px 0;
}

.row-label {
    margin-left: 8px;
    font-weight: 200;
    vertical-align: text-top;
    display: inline-block;
    height: 16px;
    line-height: 1;
}

.checkbox-container .col-labels {
    background-color: var(--dark-theme-sidebar-item-bg);
    margin-bottom: 3px;
}

.checkbox-container .col-labels label {
    font-size: 10px;
    text-transform: uppercase;
}

.checkbox-container .ant-checkbox-inner {
    border-color: #979797;
}

.checkbox-container .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: #25222e;
    height: 2px;
}

.check-all-checkbox {
    width: 100%;
    padding: 10px 0;
    display: flex;
}

.no-children-row {
    margin-left: 32px;
}z

.no-children-row .ant-checkbox-wrapper {
    width: 30px;
    height: 40px;
}

.check-all-checkbox .ant-checkbox {
    margin-right: 12px;
}

.checkbox-container .ant-checkbox-checked .ant-checkbox-inner {
    background-color: white;
}

.star-icon::after {
    content: "\e902";
    color: #d3d3d3;
}

.checkbox-container .ant-typography-ellipsis {
    color: #d3d3d3;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: black !important;
}