.caret-icon {
  margin-right: 5px;
}

.caret-placeholder {
  height: 10px;
  margin-right: 5px;
  width: 14px;
  visibility: hidden;
}

.color-swatch {
  height: 16px;
  margin-left: 5px;
  width: 12px;
}

.custom-checkbox {
  color: var(--white-one);
  background-color: var(--dark-one);
}

.item-row .ant-checkbox-inner {
  border-radius: 0px;
  border: 1px solid var(--gray-five);
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: var(--white-one);
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
  border-radius: 0px;
  border: none;
}


.item-row .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: var(--dark-one);
}

.item-row .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--white-one);
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--dark-one);
  height: 2px;
}

.star svg {
  color: var(--white-one);
  fill: var(--white-one);
}