.scale-bar-container {
    background-color: transparent;
    color: var(--gray-three);
    margin-bottom: 8px;
}

.scale-bar .text {
    width: 40px;
}

.scale-bar-container svg {
    fill: var(--gray-three);
    rotate: 90deg;
}

.scale-bar-container .icon {
    font-size: 30px;
}
