.sp-container {
    width: 280px;
    height: 100%;
    /* TODO: responsive height? */
    /* height: 529px; */
    background: #141219;
    overflow: auto;
}

.sp-container .title-card {
    border-radius: 0px;
    background-color: #1E1B25;
    color: #d3d3d3;
}

.sp-container .ant-card-body {
    padding: 12px 0px 16px 21px;
    margin-bottom: 3px;
    font-weight: 300;
}