.treenode-container {
    background-color: #1E1B25;
    margin-bottom: 3px;
    padding: 0 12px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
}

.header .ant-btn:hover {
    color: var(--dark-theme-agent-dropdown-toggle-hover);
}

.header .ant-btn, .ant-btn:active, .ant-btn:focus {
    color: var(--dark-theme-agent-dropdown-toggle);
}

.toggle-button {
    border: none;
}

.toggle-button.active {
    transform: rotate(90deg);
}

.panel {
    display: none;
    transition: all .3s;
    padding-top: 10px;
}

.panel.active {
    display: block;
}

